:root {
  --role-admin: black;
  /* Color para el rol admin */
  --role-usuario: #1E88E5;
  /* Color para el rol user */
  --role-moderador: #6A1B9A;
  /* Color para el rol moderator */
}

/* Centra el contenido de la página */
body {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  margin: 0;
  /* Elimina el margen por defecto */
  font-family: Arial, sans-serif;
  /* Fuente general */
  background-color: whitesmoke;
  padding: 0;
}

/* Estilo para el botón de envío */
.submit-button {
  background-color: #007bff;
  color: aliceblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

/* Estilo cuando el botón de envío está en hover */
.submit-button:hover {
  background-color: #0056b3;
}

.submit-button-edit {
  background-color: #333;
  color: aliceblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.submit-button-edit:hover {
  background-color: #444;
}

.submit-button-delete {
  background-color: #dc3545;
  color: aliceblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
  margin-top: 10px;
  width: 100%;
}

.submit-button-delete:hover {
  background-color: #c82333;
}

/* Aseguramos que el contenedor del formulario se ajuste a la pantalla de manera responsive */
@media (max-width: 600px) {
  body {
    padding-top: 22%;
  }

  .form-container {
    padding: 15px;
  }

  .submit-button {
    font-size: 0.9rem;
  }
}