body {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  margin: 0;
  /* Elimina el margen por defecto */
  font-family: Arial, sans-serif;
  /* Fuente general */
  background-color: aliceblue;
  padding-top: 5%;
  /* Ajusta según la altura del navbar */
}

.form-div {
  padding-top: 5vh;
  color: black;
}

/* Estilo para el contenedor principal del formulario */
.form-container {
  width: 50vw;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 8px;
  border: 1px solid #444;
  box-shadow: 0 0 10px #666;
}

h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  /* Mínimo 1.5rem, preferido 5vw, máximo 3rem */
  color: black;
  display: flex;
  justify-content: center;
}