.search-page {
  display: flex;
  margin-top: clamp(2vh, 6vw, 8vh);
  left: 0;
  flex-direction: column;
  background-color: whitesmoke;
  width: 80vw;
  border-radius: 8px;
  /* border-left: #000000 4px solid;
  border-right: #000000 4px solid;
  border-image: linear-gradient(to bottom, transparent 0%, transparent 10%, #666 40%, #666 60%, transparent 90%, transparent 100%) 1; */
}

.search-sacramento-header {
  position: sticky;
  top: 0;
  /* Se queda pegado al top */
  z-index: 10;
  /* Asegura que esté encima de otros elementos */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: whitesmoke;
  padding: 0.5rem;
}


.search-page h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  font-weight: bold;
}

.search-sacramento {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

.form-search-sacramento {
  display: flex;
  background: transparent;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0 2px 4px black;
  width: 60%;
  max-width: 500px;
  transition: all 0.3s ease;
}

.search-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  align-items: center;
  width: 55%;
  background-color: transparent;
  padding-top: 2%;
}

.filter {
  background-color: transparent;
  color: #222;
  border-radius: 6px;
  font-size: 1rem;
  transition: background-color 0.3s;
  width: fit-content;
  padding: 5px;
}

.filter:invalid {
  color: gray;
}

.search-sacramento input[type="search"] {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  color: #000000;
  width: 100%;
  color-scheme: black;
}

.search-sacramento input[type="search"]::placeholder {
  font-weight: bold;
  color: #999;
}

.sacramento-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sacramento-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 800px;
}

.sacramento-item {
  width: 100%;
  margin: 16px 0;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 12px;
  border: 1px solid #666;
  box-shadow: 0 4px 8px #666;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sacramento-item:hover {
  box-shadow: 0 6px 12px #999;
}

li span {
  margin-block: 8px;
  color: #000000;
}

.sacramento-buttons {
  display: flex;
  gap: 12px;
}

.no-elements-item {
  margin: 2%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  height: 65vh;
}


/* Modal overlay (fondo semi-transparente) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

@media (max-width: 1100px) {
  body {
    padding-top: 10%;
  }
}

@media (max-width: 600px) {
  body {
    padding-top: 12%;
  }

  .search-page {
    width: 100%;
  }

  .search-sacramento form {
    width: 90%;
  }

  .sacramento-container {
    padding-inline: 2%;
  }

  .sacramento-item {
    width: 100%;
    padding: 8%;
  }

  .no-elements-item {
    padding: 15%;
    height: 60vh;
    width: 90vw;
  }

  h1 {
    font-size: 1.2rem;
  }
}