.navbar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding-right: 5%;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent 0%, #333 30%, #333 70%, transparent 100%) 1;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
}

.navbar-links a {
  padding: .8rem 5%;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}


.navbar-links a:hover {
  background: #ccc;
  transition: background 0.3s ease-in-out;
}

/* 🌟 Estilos para la página activa */
.navbar a.active {
  border-bottom: #000000 4px solid;
  border-image-source: linear-gradient(to right, transparent 0%, #333 40%, #333 60%, transparent 100%);
  border-image-slice: 2;
  transition: all 0.3s ease-in-out;
  background: transparent;
}

.button-nav {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  background: whitesmoke;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.button-nav:hover {
  background-color: #ccc;
  border: 2px solid #ccc;
}

.button-nav-icon {
  height: 30px;
  color: black;
}

/* 🖥️📱 RESPONSIVE DESIGN */
@media (max-width: 768px) {
  .navbar {
    height: 10vh;
    flex-direction: row;
    padding: 10px 0;
  }

  .navbar a,
  .button-nav {
    font-size: 16px;
  }

  .button-nav {
    padding: 6px 10px;
  }
}