.search-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
  max-width: 800px;
  background-color: #222;
  border-radius: 8px;
}

.bautismos-container {
  display: flex;
  flex-direction: column;
}

.bautismo-item {
  border: 1px solid #ffffff;
  margin: 2%;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

li span {
  margin-block: 8px;
}

.search-bautismo {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.search-bautismo form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 5px;
  border-radius: 25px;

  border: 1px solid white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 70%;
  transition: all 0.3s ease;
}

.search-bautismo input[type="search"] {
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  width: 100%;

}

.search-bautismo input[type="search"]::placeholder {
  font-weight: bold;
  color: #999;
}

.search-bautismo input[type="search"]:focus {
  border-bottom: 2px solid #007bff;
}